<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../../../templates/default/css/reset.css"/>
    <link rel="stylesheet" href="../../../templates/default/css/iron-admin.css"/>
    <title th:text="${ia.title}">Admin title</title>
</head>
<body>mi
<div class="ia-sidebar-left">
    <div class="ia-container">
        <h1 th:text="${ ia.title }">Admin title</h1>
    </div>
    <nav>
        <ul>
            <li th:each="p : ${ ia.pages }" th:class="${ p.url == page.url } ? ia-active : ''">
                <a th:text="${ p.title }" th:href="${ iaUrl.resolve(p.url) }">Page title</a>
            </li>
        </ul>
    </nav>
</div>
<article class="ia-content">
    <div class="ia-container">
        <header>
            <h2 th:text="${ page.title }">Page title</h2>
        </header>
        <table class="ia-entity-list">
            <thead>
            <tr>
                <th th:each="property : ${ page.properties }" th:text="${ property.displayName }">First Property</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${ page.entities }">
                <td th:each="property : ${ page.properties }" th:text="${ entity.__${ property.name }__ }">Value</td>
            </tr>
            </tbody>
        </table>
    </div>
</article>
<aside class="ia-sidebar-right">
    <div class="ia-container">
        <h2>Filters</h2>
    </div>
</aside>
</body>
</html>
