@ia-sidebar-width: 240px;
@ia-menu-item-border: 1px solid #cccccc;

html, body {
  height: 100%;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  border-bottom: 1px solid #999999;
  padding-bottom: 12px;
}

.ia-content {
  margin-left: @ia-sidebar-width;
  margin-right: @ia-sidebar-width;
  padding: 12px;

  h2 {
    font-size: 36px;
    margin-bottom: 18px;

    small {

      &:before {
        content: "/";
        margin-right: 12px;
        display: inline-block;
      }

      margin-left: 12px;
      font-size: 24px;
      color: #999999;
    }
  }
}

.ia-container {
  padding: 6px;
}

.ia-sidebar {
  height: 100%;
  width: @ia-sidebar-width;
  position: fixed;
  background-color: #efefef;
  top: 0;
}

.ia-sidebar-right {
  .ia-sidebar;
  right: 0;
}

.ia-sidebar-left {
  .ia-sidebar;
  left: 0;

  nav {
    li {
      border-bottom: @ia-menu-item-border;

      a {
        .ia-container;
        display: block;
      }
    }

    li:hover, li.ia-active {
      background-color: #ffffff;
      a {
        text-decoration: none;
        color: #000099;
      }
    }

    li:first-child {
      border-top: @ia-menu-item-border;
    }
  }
}

table.ia-entity-list {
  @ia-table-border: 1px solid #cccccc;

  width: 100%;
  border: @ia-table-border;

  .ia-table-cell {
    padding: 6px;
    text-align: left;
    border-right: @ia-table-border;
  }

  th {
    .ia-table-cell;
    background-color: #eeeeff;
  }

  td {
    border-top: @ia-table-border;
    .ia-table-cell;
  }
}

@ia-form-label-width: 180px;
@ia-form-label-spacing: 24px;

form.ia-edit-form {

  div {
    margin-bottom: 24px;

    label {
      span {
        font-size: 14px;
        text-align: right;
        width: @ia-form-label-width;
        display: inline-block;
      }
    }

    input {
      height: 24px;
      border: 1px solid #999999;
      border-radius: 3px;
      padding-left: 3px;
      margin-left: @ia-form-label-spacing;
    }
  }

  footer {
    text-align: right;
    width: @ia-form-label-width
  }
}
